:root {
    --primary: #00c8d2;
    --dark-text: #111111;
    --light-text: #666666;
    --card-border: #dddddd;
    --bg-light: #f8f8f8;
}

html {
    font-size: 16px; /* 1rem = 16px */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: var(--dark-text);
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}
